body{
	font: normal 100%;
	font-family:"微软雅黑";
	font-size:15px;
	text-align: center;
}

div#title{
	    background:  rgb(255,78,0);
		font-size: 1.3em;
		font-family: "微软雅黑";
		font-weight: bolder;
		color: white;


    border: 1px solid rgb(179,179,179);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


    padding:1px;
    margin: 10px;
}

.part1{
    background: #87CEEB;
    font-family: "微软雅黑";

    border: 1px solid rgb(179,179,179);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding:10px;
    margin: 10px;
}

.part2{
    background: rgb(255,132,0);
    font-family: "微软雅黑";
    color: rgb(27,27,27);

	border: 1px solid rgb(179,179,179);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    padding:10px;
    margin: 10px;
}
