body{
	font: normal 100%;
	font-family:"微软雅黑";
	font-size:15px;
	text-align: center;
}

div#title{
	    background: rgb(179,179,179);
		font-size: 1.3em;
		font-family: "微软雅黑";
		font-weight: bolder;
		color: white;
}

.part1{
	background-color: white;
	font-family: "微软雅黑";
}

.part2{
	background: rgb(230,230,230);
	font-family: "微软雅黑";
}
